:root {
    --color-black: #111;
    --color-white: #f9f9f9;
    --color-dark: #303030;
    --color-bright: #f6f6f6;
    --color-gray: #5e5e5e;
    --color-primary: #fffd00;
    --color-secondary: #00fff9;
    --transition: all 0.2s ease;

    & *,
    & *::before,
    & *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    & ol,
    & ul {
        list-style: none;
        padding-inline: 0;
    }
}

body {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: var(--color-dark);
}

/* Page Container */
#page-container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}

/* Duplicated attrs */
#header,
#main,
#footer {
    min-width: 1200px;
}

.header-container,
.main-container,
.footer-container {
    min-height: 100%;
}

/* Header Section */
#header{
    background-color: var(--color-black);
    color: var(--color-bright);
    display: grid;
    justify-content: center;
    padding: 1rem;
    min-width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: var(--transition);
}

.header-container:hover {
    color: var(--color-primary);
}